<div class="container">
    <form class="form" [formGroup]="form">
        <div class="api-currency">
            <mat-form-field>
                <mat-select formControlName="api">
                    <mat-option *ngFor="let apis of apis" [value]="apis">{{
                        apis
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="currency">
                    <mat-option *ngFor="let currency of currencies" [value]="currency">{{
                        currency
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="content">
            <div>
                <img src="https://hamzazaidi.github.io/TerraFinderV2/assets/logo.svg" alt="Terra Finder Logo" />
                <mat-form-field class="full-width">
                    <mat-label>{{ searchLabel }}</mat-label>
                    <input formControlName="search" type="text" matInput placeholder="{{ searchLabel }}" (keyup.enter)="onSearch()"/>
                    <button type="button" mat-icon-button matSuffix (click)="onSearch()" color="accent">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="layover-shield"></div>
    <video class="background-video" playsinline="" autoplay="" loop=""
        poster="https://hamzazaidi.github.io/TerraFinderV2/assets/terrafinder.jpg">
        <source src="https://hamzazaidi.github.io/TerraFinderV2/assets/terrafinder.video.mp4" type="video/mp4" />
    </video>
</div>