<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><img src="https://hamzazaidi.github.io/TerraFinderV2/assets/logo.svg" alt="Terra Finder Logo" /></span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>