.pill {
    display: inline-block;
    border-radius: 13px;
    height: 26px;
    background-color: rgba(40,69,174,.1);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: -.3px;
    color: #2845ae;
    padding: 0 15px;
    vertical-align: middle;
}