<div class="container">
    <div class="content">
        <img src="https://hamzazaidi.github.io/TerraFinderV2/assets/logo.svg" alt="Terra Finder Logo">
        <form class="form">
            <mat-form-field class="full-width">
                <mat-label>{{ searchLabel }}</mat-label>
                <input type="text" matInput placeholder="{{ searchLabel }}" />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div class="layover-shield"></div>
    <video class="background-video" playsinline="" autoplay="" loop="" poster="https://hamzazaidi.github.io/TerraFinderV2/assets/terrafinder.jpg"><source src="https://hamzazaidi.github.io/TerraFinderV2/assets/terrafinder.video.mp4" type="video/mp4"></video>
</div>
